button {
  background-color: var(--color-primary)
}

a button {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 18px;
  border: none;
  border-radius: 22px;
  margin: 10px;
}

a .btn-light {
  color: var(--color-grey);
}

.btn-light {
  background-color: var(--color-primary);
}

a .btn-light:hover {
  background-color: var(--color-grey);
  color: var(--color-primary);
}

a .btn-dark {
  color: var(--color-white);
}

.btn-dark {
  background-color: var(--color-secondary);
}

a .btn-dark:hover {
  background-color: var(--color-grey);
}

a .btn-yellow {
  color: var(--color-grey);
}

.btn-yellow {
  background-color: #fee05f;
}

a .btn-yellow:hover {
  color: #fee05f;
  background-color: var(--color-secondary);
}

a .btn-ghost {
  color: var(--color-grey);
  border: 2px solid var(--color-primary);
}

.btn-ghost {
  background-color: var(--color-white);
}

a .btn-ghost:hover {
  background-color: var(--color-grey);
  color: var(--color-white);
  border: 2px solid var(--color-white);
}
