th, tr, td {
  text-align: center;
}

td {
  vertical-align: middle;
}

td, th {
  border: none;
}

tr:nth-child(even) {
  background-color: var(--color-primary);
}

nav ol li a {
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: bold;
}

nav, header {
  background-color: var(--color-primary);
  cursor: pointer;
}

.nav {
  display: none;
}

nav ol {
  margin: 0;
}

nav ol li {
  text-align: center;
  padding: 15px 0;
  width: 100%;
}

nav ol li:hover {
  background-color: var(--color-yellow);
}

.nav-label {
  padding: 10px 0;
  cursor: pointer;
  display: block;
}

.nav-check:checked ~ .nav{
  display: inline-block;
  width: 100%;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open{
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close{
  display: block;
}

.nav:active ~ .active{
  background-color: var(--color-grey);
}

nav ol li:active {
  background-color: var(--color-yellow);
}

@media only screen and (min-width: 60em)  {

  .nav-label {
    display: none;
  }

  .nav {
    display: block;
    width: 100%;
    cursor: default;
  }

  nav ol li {
    display: inline-block;
    margin: 0;
    width: 33.3333%;
    max-width: 160px;
    cursor: pointer;
  }
}
