:root {
  --font-primary: "Ubuntu", sans-serif;
  --font-secondary: "Open Sans", sans-serif;

  --color-primary: #d5f8f8;
  --color-secondary: #383838;
  --color-yellow: #fee05f;
  --color-grey: #848484;
  --color-white: white;

}

html {
  font-family: var(--font-secondary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  font-weight: normal;
}
