<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Rain or Shine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{site.baseurl}}/css/weather.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="{{site.baseurl}}/common/theme.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu" rel="stylesheet">
</head>
<body>

  <header>
    <div class="inline-block xs-1 s-1-3">
      <h1 id="home" aria-label="Current City">Ottawa</h1>
      <a href="{{site.baseurl}}/#home"><img src="{{site.baseurl}}/images/logo32.svg" alt="Logo" aria-label="Logo"></a>
    </div>
    <div>
      <ul class="skip-links">
        <li><a href="{{site.baseurl}}/#home" aria-label="Go to home page">Current Weather</a></li>
        <li><a href="{{site.baseurl}}/#hourly" aria-label="See Hourly Weather report">Hourly Weather</a></li>
        <li><a href="{{site.baseurl}}/#weekly" aria-label="See Weekly Weather report">Weekly Weather</a></li>
      </ul>
      <nav role="navigation">
        <input type="checkbox" class="nav-check" id="nav-check">
        <label class="center nav-label" for="nav-check">
          <img class="icon i-32 nav-open" src="{{site.baseurl}}/images/nav-menu.svg" alt="cloud">
          <img class="icon i-32 nav-close" src="{{site.baseurl}}/images/nav-close.svg" alt="cloud">
        </label>
        <ol class="nav list-group">
          <li class="xs-1 s-1 l-1-3 active"><a href="{{site.baseurl}}/#home" aria-label="Go to home page">Current Weather</a></li>
          <li class="xs-1 s-1 l-1-3"><a href="{{site.baseurl}}/#hourly" aria-label="See Hourly Weather report">Hourly Weather</a></li>
          <li class="xs-1 s-1 l-1-3"><a href="{{site.baseurl}}/#weekly" aria-label="See Weekly Weather report">Weekly Weather</a></li>
        </ol>
      </nav>
    </div>
  </header>

  {{content}}

  <footer>
    <p class="text-center">&copy;Rain or Shine</p>
  </footer>

</body>
</html>
