<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Rain or Shine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{site.baseurl}}/common/theme.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/weather.css" rel="stylesheet">
  <link href="{{site.baseurl}}/patterns/popup.css" rel="stylesheet">
  <link href="{{site.baseurl}}/patterns/buttons.css" rel="stylesheet">
  <link href="{{site.baseurl}}/patterns/cards.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu" rel="stylesheet">
</head>
<body>

  <ul class="skip-links">
    <li><a href="{{site.baseurl}}/index/" aria-label="Go to home page">Current Weather</a></li>
    <li><a href="{{site.baseurl}}/hourly/" aria-label="See Hourly Weather report">Hourly Weather</a></li>
    <li><a href="{{site.baseurl}}/weekly/" aria-label="See Weekly Weather report">Weekly Weather</a></li>
  </ul>

  <header class="text-center relative pad-t-1-2 pad-b-1-2">
    <a href="{{site.baseurl}}/#home" class="absolute pin-lt island-1-4"><img src="{{site.baseurl}}/images/logo32.svg" alt="logo" aria-label="logo"></a>
    <h1 id="home" aria-label="Current City" class="push-0">Ottawa</h1>

    <nav role="navigation">
      <input type="checkbox" class="nav-check" id="nav-check">
      <label class="center nav-label absolute pin-rt" for="nav-check">
        <img class="icon i-32 nav-open" src="{{site.baseurl}}/images/nav-menu.svg" alt="menu open">
        <img class="icon i-32 nav-close" src="{{site.baseurl}}/images/nav-close.svg" alt="menu close">
      </label>
      <ol class="nav list-group wrapper text-center">
        <li><a href="{{site.baseurl}}/index/" aria-label="Go to home page">Current Weather</a></li>
        <li><a href="{{site.baseurl}}/hourly/" aria-label="See Hourly Weather report">Hourly Weather</a></li>
        <li><a href="{{site.baseurl}}/weekly/" aria-label="See Weekly Weather report">Weekly Weather</a></li>
      </ol>
    </nav>
  </header>

  {{content}}

  <footer>
    <p class="text-center">&copy;Rain or Shine</p>
  </footer>

</body>
</html>
